<header>
    <app-top-bar></app-top-bar>
    <div class="px-5 bg-main text-brown text-center">
        <ul class="main-menu">
            <li class="item-main-menu">
                <a class="link-main-menu"><span>Home</span></a>
            </li>
            <li class="item-main-menu">
                <a class="link-main-menu"><span>Repostería</span></a>
            </li>
            <li class="item-main-menu position-relative item-menu-logo">
                <app-logo class="logo-menu"></app-logo>
            </li>
            <li class="item-main-menu">
                <a class="link-main-menu"><span>Detalles</span></a>
            </li>
            <li class="item-main-menu">
                <a class="link-main-menu"><span>Domicilios</span></a>
                
            </li>
        </ul>
    </div>
</header>
