/* Global styles */
@font-face {
    font-family: 'sofia-font';
    src: url(./assets/fonts/Sofia-Regular.ttf);
}

body {
    color: #3f3137;
}

.bg-main {
    background-color: #e9d5da;
}

.bg-brown {
    background-color: #3f3137;
}

.bg-red {
    background-color: #a94b48;
}

.text-main {
    color: #e9d5da;
}

.text-brown {
    color: #3f3137;
}

.text-red {
    color: #a94b48;
}

.text-12px {
    font-size: 12px;
}

.font-sofia {
    font-family: 'sofia-font';
}