<div class="bg-brown p-2 text-right text-12px px-5">
    <ul class="list-unstyled mb-0">
        <li class="d-inline-block mr-3 item-top-bar">
            <a href="https://wa.me/573202645628" target="_blank" class="link-top-bar">
                <i class="fab fa-whatsapp"></i>
                <span class="ml-1">+57 320 2645628</span>
            </a>
        </li>
        <li class="d-inline-block mr-3 item-top-bar">
            <a href="https://www.facebook.com/rosalbitaAndCo" target="_blank" class="link-top-bar">
                <i class="fab fa-facebook"></i>
                <span class="ml-1">Facebook</span>
            </a>
        </li>
        <li class="d-inline-block item-top-bar">
            <a href="#" class="link-top-bar">
                <i class="fas fa-shopping-cart"></i>
                <span routerLink="/cart" class="ml-1">Ver carrito</span>
            </a>
        </li>
    </ul>
</div>